<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>oauth2-protocol</key>
	<string>https</string>
	<key>oauth2-host</key>
	<string>centerdevice.de</string>
	<key>oauth2-port</key>
	<string>443</string>
	<key>oauth2-auth-url</key>
	<string>/auth/authorize</string>
	<key>oauth2-token-url</key>
	<string>/auth/token</string>
	<key>protocol</key>
	<string>https</string>
	<key>host</key>
	<string>centerdevice.de</string>
	<key>port</key>
	<string>443</string>
	<key>serviceurl</key>
	<string>/api</string>
</dict>
</plist>
